@model Dish

<div>
    <h3>@Model.Name</h3>
    <a asp-controller="Home" asp-action="Update" asp-route-id="@Model.Id">Uppdatera ingredienser</a>
    <hr />
    <br />
    <h4><b>Info om maträtten:</b> @Model.Description</h4>
    <br />
    <br />
    <h3><u>Ingredienser</u></h3>
    <ul>
        @if (Model.Ingrediences.Count > 0)
        {
            @foreach (var ingrid in Model.Ingrediences)
            {
                <li>@ingrid.Name</li>
            }
        }
        else
        {
            <p>Inga kopplade ingredienser till denna maträtten än</p>
        }
    </ul>




</div>